body { font-family: sans-serif; text-align: center; }
        table { margin: 0 auto; border-collapse: collapse; }
        td, th { border: 1px solid #333; padding: 4px 8px; }

        button {
            font-size: 1em;
            padding: 2px 4px;
            margin: 4px;
        }

        input{
            margin: 2px;
        }

        #periodMatrix { margin-top: 20px; }
        #period-controls {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .period-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60px;
        }
        .period-column button {
            width: 32px;
            height: 28px;
            font-size: 1.2em;
            margin: 2px 0;
        }
        .period-counter {
            font-size: 1.1em;
            margin: 2px 0;
        }